APP_NAME="GithubWebhookTestApi"
APP_PORT=5000
APP_HOST="http://localhost:5000"
DATABASE_URL="mongodb://127.0.0.1:27019,127.0.0.1:27018/test?replicaSet=testset"
AT_SECRET="123456"
RT_SECRET="123456"
CORS_ALLOWED_ORIGINS="http://localhost:5000,http://localhost:8002"
SLACK_URL="https://hooks.slack.com/services/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"